swak4foam/*
swak4foam*
OF_Model copy/*
IFPM/plots/*
IFPM/*.dat
IFPM/*.log
IFPM/__pycache__
IFPM/results/*
ifpm/plots/*
ifpm/*.dat
ifpm/*.log
ifpm/__pycache__
ifpm/results/*
docker-compose.yml
*.png
make_plot.py
.vscode
OF_Mod*
OF_Model/*
OF_Model\*
OF_Model
OF_Model/0/*
OF*
