swak4foam/*
swak4foam*
OF_Model copy/*
IFPM/plots/*
IFPM/*.dat
IFPM/*.log
IFPM/__pycache__
IFPM/results/*
ifpm/plots/*
ifpm/*.dat
ifpm/*.log
ifpm/__pycache__
ifpm/results/*
docker-compose.yml
result*
*.png
make_plot.py
.vscode
OF_Mod*
OF_Model/*
OF_Model\*
OF_Model
OF_Model/0/*
OF_Model/0/p
OF_Model/0/U
OF_Model/constant/transportProperties
OF_Model/constant/turbulenceProperties
OF_Model/constant/polyMesh/boundary
OF_Model/constant/polyMesh/faces
OF_Model/constant/polyMesh/meshMetaDict
OF_Model/constant/polyMesh/neighbour
OF_Model/constant/polyMesh/owner
OF_Model/constant/polyMesh/points
OF_Model/system/controlDict
OF_Model/system/decomposeParDict
OF_Model/system/fvSchemes
OF_Model/system/meshDict_backup
OF_Model/system/meshQualityDict
OF_Model/system/surfaceFeatureExtractDict
