test.py
OF_Model/*
IFPM2D/result*
IFPM2D/*.png
IFPM2D/__pycache__*
IFPM3D/result*
IFPM3D/*.png
IFPM3D/__pycache__*
OF_Model2D/*
OF_Model3D/*
swak4foam/*
swak4foam*
OF_Model copy/*
IFPM/plots/*
IFPM/*.dat
IFPM/*.log
IFPM/__pycache__
IFPM/results/*
docker-compose.yml
