/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v2206                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/

FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      fvSchemes;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //


application     {{ solver_name }};

solver          incompressibleFluid;

startFrom       startTime;

startTime       0;

stopAt          endTime;

endTime         {{ end_time }};

deltaT          {{ time_step }};

writeControl    timeStep;

writeInterval   {{ write_interval }};

purgeWrite      0;

writeFormat     ascii;

writePrecision  6;

writeCompression off;

timeFormat      general;

timePrecision   6;

runTimeModifiable true;

functions
{
    strainRateMag
    {
        type coded;
        name strainRateMag;
        libs ("libutilityFunctionObjects.so");
        writeInterval 50;
        writeControl timeStep;
        executeControl timeStep;
        executeInterval 50;
        codeExecute
        #{
            const volVectorField U = mesh().lookupObject<volVectorField>("U");
            const volTensorField gradU = fvc::grad(U);
            const volSymmTensorField strainRateTensor = symm(gradU);
            const volScalarField strainRateMag = mag(strainRateTensor);
            // const volScalarField minStrainRate = min(strainRateMag);
            // const volScalarField maxStrainRate = max(strainRateMag);
            Info << "Min strain rate magnitude " << min(strainRateMag) << ", ";
            Info << "Max strain rate magnitude " << max(strainRateMag) << endl;
            strainRateMag.write();
        #};
    }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
