#!/bin/bash

rm -r {{ working_dir }}/OF_Model/constant/triSurface/*
rm -r {{ working_dir }}/OF_Model/0/*

mkdir -p {{ working_dir }}/OF_Model/constant/triSurface/grains
mv grain_* {{ working_dir }}/OF_Model/constant/triSurface/grains
mv grains.stl {{ working_dir }}/OF_Model/constant/triSurface
mv *.stl {{ working_dir }}/OF_Model/constant/triSurface

touch {{ working_dir }}/OF_Model/0/p
touch {{ working_dir }}/OF_Model/0/U
