#!/bin/bash

source /opt/openfoam12/etc/bashrc

cd {{ working_directory }} 

echo "    Running blockMesh..."
blockMesh > blockMesh.log
echo "         Done"

echo "        Decomposing the mesh into {{ number_of_procs }} domains"
decomposePar -force > decomposeParMesh.log

echo "    Running snappyHexMesh..."
mpirun -np {{ number_of_procs }} snappyHexMesh -overwrite -parallel > snappyHexMesh.log

echo "    Running reconstructPar..."
reconstructPar > reconstructParMesh.log

echo "        Checking the mesh"
checkMesh > checkMesh.log
