#!/bin/bash

source /usr/lib/openfoam/openfoam2006/etc/bashrc

cd {{ working_dir }}/OF_Model 
echo "        Creating boundary mesh with blockMesh"
blockMesh &> blockMesh.log
echo "         Done"

echo "        Decomposing the mesh into {{ number_of_procs }} domains"
decomposePar -force &> decomposeParMesh.log
echo "         Done"

echo "        Creating the mesh with snappyHexMesh"
mpirun -np {{ number_of_procs }} snappyHexMesh -parallel -overwrite &> snappyHexMesh.log
echo "         Done"

echo "        Reconstructing the mesh into 1 domain"
reconstructPar -constant &> reconstructPar.log
echo "         Done"

echo "        Checking the mesh"
checkMesh &> checkMesh.log
echo "         Done"
