#!/bin/bash

#convert stl to fms:
source /opt/openfoam12/etc/bashrc

echo "    Converting stl to fms"
surfaceFeatureEdges {{ working_dir }}/OF_Model/constant/triSurface/col_model.stl {{ working_dir }}/OF_Model/constant/triSurface/col_model.fms &> convertToFMS.log
echo "     Done"
echo "    Defining boundaty types in fms"
sed -i s/empty/wall/g {{ working_dir }}/OF_Model/constant/triSurface/col_model.fms
sed -i '/.*inlet.stl.*/c\inlet.stl patch' {{ working_dir }}/OF_Model/constant/triSurface/col_model.fms
sed -i '/.*outlet.stl.*/c\outlet.stl patch' {{ working_dir }}/OF_Model/constant/triSurface/col_model.fms
echo "     Done"

cd {{ working_dir }}/OF_Model 
echo "    Creating the mesh with cfMesh"
cartesian2DMesh &> cartesian2DMesh.log
